apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: monitoring-project
data:
  app.properties: |
    debug=true
    log_level=INFO
    metrics_porty=8081
  nginx.conf: |
    server {
      listen 80;
      server_name localhost;

      location / {
        root /usr/share/nginx/html;
        index index.html;
      }

      location /health {
        access_log off;
        return 200 "healthy\n";
        ad_header Content-Type text/plain;
      }
    }