apiVersion: v1
kind: PersistentVolume
metadata:
  name: my-local-pv
  labels:
    type: local

spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  hostPath:
    path: "/data/pv001"
    type: DirectoryOrCreate
    

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-local-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests: 
      storage: 2Gi
  storageClassName: local-storage

---
apiVersion: v1
kind: Pod
metadata:
  name: pv-pvc-example
spec:
  containers:
    - name: pv-pvc-container
      image: mysql:8.0
      env:
        - name: MYSQL_ROOT_PASSWORD
          value: "rootpassword"
        - name: MYSQL_DATABASE
          value: "testdb"
      volumeMounts:
        - name: mysql-storage
          mountPath: /var/lib/mysql
  volumes:
    - name: mysql-storage
      persistentVolumeClaim:
        claimName: my-local-pvc
