apiVersion: v1
kind: PersistentVolume
metadata:
  name: simple-local-pv
  labels:
    type: local
spec: 
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/k8s-data"
    type: DirectoryOrCreate

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: simple-local-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi

---
apiVersion: v1
kind: Pod
metadata:
  name: simple-pv-pod
spec:
  containers:
    - name: busybox
      image: busybox
      command: ["/bin/sh", "-c"]
      args: ["echo 'Hello from PV!' > /data/message.txt && tail -f /dev/null"]
      volumeMounts:
        - name: pv-data
          mountPath: /data
  volumes:
    - name: pv-data
      persistentVolumeClaim:
        claimName: simple-local-pvc