apiVersion: v1
kind: Pod
metadata:
  name: pod-hostpath
spec:
  containers:
    - name: app
      image: busybox
      command: ["sh", "-c", "sleep 3600"]
      volumeMounts:
        - name: host-volume
          mountPath: /loghost 
  volumes:
    - name: host-volume
      hostPath:
        path: /var/log
        type: Directory