apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template: 
    metadata:
      labels:
        app: api
    spec: 
      containers:
        - name: api
          image: postgres-api:1.0
          ports:
            - containerPort: 8080
          env:
            - name: PG_HOST
              value: "postgres-service"
            - name: PG_USER
              value: "postgres"
            - name: PG_DB
              value: "testdb"


---
apiVersion: v1
kind: Service
metadata: 
  name: api-service
spec: 
  type: NodePort
  selector: 
    app: api
  ports: 
    - port: 8080
      targetPort: 8080
      nodePort: 30009