apiVersion: v1
kind: Pod
metadata:
  name: app-config
spec:
  containers:
    - name: nginx
      image: nginx:alpine

      volumeMounts:
        - name: config-volume
          mountPath: /etc/app

  volumes:
    - name: config-volume
      configMap:
        name: app-config