apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  containers:
    - name: app
      image: busybox
      command: ["/bin/sh", "-c", "sleep 3600"]
      volumeMounts:
        - name: storage
          mountPath: /app/data

  volumes:
    - name: storage
      persistentVolumeClaim:
        claimName: my-pvc
      