apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-app
  namespace: php-mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php-app
  template:
    metadata:
      labels: 
        app: php-app
    spec: 
      containers:
        - name: php-app
          image: php-mysql-app:1.0
          ports: 
            - containerPort: 80
          env:
            - name: MYSQL_HOST
              value: mysql-service
            - name: MYSQL_USER
              value: root
            - name: MYSQL_ROOT_PASSWORD
              value: rootpassword
            - name: MYSQL_DATABASE
              value: testdb


---
apiVersion: v1
kind: Service
metadata: 
  name: php-app-service
  namespace: php-mysql
spec:
  type: NodePort
  selector:
    app: php-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080