apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
  namespace: php-mysql
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec: 
      containers:
        - name: phpmyadmin
          image: phpmyadmin/phpmyadmin
          env: 
            - name: PMA_HOST
              value: mysql-service
          ports:  
            - containerPort: 80

      
---
apiVersion: v1
kind: Service
metadata: 
  name: phpmyadmin-service
  namespace: php-mysql
spec: 
  type: NodePort
  selector: 
    app: phpmyadmin
  ports:
    - port: 80
      nodePort: 30081