apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-backend
  template:
    metadata:
      labels:
        app: auth-backend
    spec:
      containers:
        - name: auth-backend
          image: auth-service:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-service:27017/authdb"
            - name: REDIS_HOST
              value: "redis-service"
            - name:  REDIS_PORT
              value: "6379"
            - name: JWT_SECRET
              value: "supersecretkey"
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:  
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 15

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-backend
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
