apiVersion: v1
kind: Pod
metadata:
  name: pod-config
spec:
  containers:
  - name: busybox
    image: busybox:latest
    command: ['sh', '-c', 'echo "$MESSAGE" && sleep 3600']
    env:
      - name: MESSAGE
        valueFrom:
          configMapKeyRef:
            name: app-config
            key: message
    volumeMounts:
      - name: config-volume
        mountPath: /etc/config
  volumes:
    - name: config-volume
      configMap:
        name: app-config
  restartPolicy: Never
          