apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-web
spec:
  replicas: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata: 
      labels:
        app: webapp
        version: v1.0.0
    spec:
      containers:
        - name: web-container
          image: nginx:1.20
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10