apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-deployment
  namespace: microservices-demo
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: eureka
  template:
    metadata:
      labels:
        app: eureka
    spec:
      containers:
        - name: eureka
          image: netflixoss/eureka:latest
          ports:
            - containerPort: 8761

---
apiVersion: v1
kind: Service
metadata: 
  name: eureka-service
  namespace: microservices-demo
spec: 
  type: NodePort
  selector:
    app: eureka
  ports:
    - port: 8761
      nodePort: 30010
      

