apiVersion: apps/v1
kind: Deployment
metadata: 
  name: phpmyadmin-deployment
  namespace: microservices-demo
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
        - name: phpmyadmin
          image: phpmyadmin:latest
          ports:
            - containerPort: 80
          env:
            - name: PMA_HOST
              value: mysql-service

---
apiVersion: v1
kind: Service
metadata:
  name: phpmyadmin-service
  namespace: microservices-demo
spec:
  type: NodePort
  selector:
    app: phpmyadmin
  ports:
    - port: 80
      nodePort: 30007